[Desktop Entry]
Name=Parrot

X-KDE-PluginInfo-Name=parrot
X-KDE-PluginInfo-Author=Frozenbox Dev Team
X-KDE-PluginInfo-Email=team@frozenbox.org
X-KDE-PluginInfo-License=GPL-3
