[Desktop Entry]
Name=Parrot

X-KDE-PluginInfo-Name=parrot
X-KDE-PluginInfo-Author=Parrot Dev Team
X-KDE-PluginInfo-Email=parrot-devel@lists.parrotsec.org
#X-KDE-PluginInfo-License=GPL-2
