[Desktop Entry]
Name=Parrot

X-KDE-PluginInfo-Name=parrot
X-KDE-PluginInfo-Author=Lorenzo Faletra
X-KDE-PluginInfo-Email=palinuro@parrotsec.org
#X-KDE-PluginInfo-License=GPL-2
