[Desktop Entry]
Name=Parrot Lockscreen
Name[fr]=Écran de verrouillage pour Parrot
X-KDE-PluginInfo-Name=ParrotLockScreen
X-KDE-PluginInfo-Author=Parrot Dev Team
X-KDE-PluginInfo-Email=parrot-devel@lists.parrotsec.org
