[Desktop Entry]
Name=Parrot Lockscreen
X-KDE-PluginInfo-Name=ParrotLockScreen
X-KDE-PluginInfo-Author=Lorenzo Faletra
X-KDE-PluginInfo-Email=palinuro@parrotsec.org
